kidazzle/kidaazle html/SOCIAL_MEDIA_IMAGE_GEN_FULL.json
{
  "name": "Social Media Image Gen (Telegram Bot)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "social-image-gen",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "webhookId": "yYkUfYlgrMT2EuvZ"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "prompt",
              "value": "={{ $json.body.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-prompt-raw",
      "name": "Set Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=YOUR_GEMINI_KEY",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "=[{\"parts\":[{\"text\":\"Please expand this short prompt into a highly detailed, 50-word descriptive image generation prompt: \" + $json.prompt }]}"
            }
          ]
        },
        "options": {}
      },
      "id": "gemini-prompt-expansion",
      "name": "Gemini Prompt Expansion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.together.xyz/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "black-forest-labs/FLUX.1-schnell"
            },
            {
              "name": "prompt",
              "value": "={{ $json.candidates[0].content.parts[0].text }}"
            },
            {
              "name": "width",
              "value": "1024"
            },
            {
              "name": "height",
              "value": "1024"
            },
            {
              "name": "response_format",
              "value": "b64_json"
            }
          ]
        },
        "options": {}
      },
      "id": "flux-image-gen",
      "name": "FLUX Image Gen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "your-together-ai-credential-id",
          "name": "Together AI Header Auth"
        }
      }
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "convertAllData": false,
        "sourceKey": "data[0].b64_json",
        "destinationKey": "data",
        "options": {
          "mimeType": "image/jpeg",
          "fileName": "={{'image_' + $now.toFormat('yyyyMMdd_HHmmss') + '.jpg'}}"
        }
      },
      "id": "convert-base64",
      "name": "Convert FLUX Base64 to Image1",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "fileContent": "data",
        "name": "={{ $binary.data.fileName }}",
        "parents": [
          "1o2Kj_7SLwuQbQSzwbQH4H3iOkHFBqxxI"
        ],
        "options": {}
      },
      "id": "google-drive-upload",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 2,
      "position": [
        1200,
        200
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "your-google-drive-credential-id",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendPhoto",
        "chatId": "={{ $('Webhook').item.json.body.message.chat.id }}",
        "binaryData": true,
        "binaryPropertyName": "data",
        "additionalFields": {
          "caption": "={{ $('Set Prompt').item.json.prompt }}"
        }
      },
      "id": "telegram-output",
      "name": "Send a photo message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1200,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "your-telegram-credential-id",
          "name": "IRO Picasso"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Prompt": {
      "main": [
        [
          {
            "node": "Gemini Prompt Expansion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Prompt Expansion": {
      "main": [
        [
          {
            "node": "FLUX Image Gen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FLUX Image Gen": {
      "main": [
        [
          {
            "node": "Convert FLUX Base64 to Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert FLUX Base64 to Image1": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
